/* место для вашего кода */
html {
  scroll-behavior: smooth;
}

body {
  padding-top: 92px;
  padding-bottom: 88px;
  font-family: Raleway, sans-serif;
}

/*Шапка сайта*/
.header {
  width: 1052px;
  display: grid;
  grid-template-columns: 454px 148px 450px;
  grid-template-rows: 105px;
  margin: auto;
}

/*Меню сайта*/
.menu {
  font-size: 18px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 44px 6px 39px 26px;
}

/*Неупорядоченный список меню*/
.header__menu ul {
  list-style: circle;
  display: flex;
}

/*Элементы списка*/
.header__menu ul li {
  padding-right: 33px;
}

.menu-link {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.menu-link_active {
  text-decoration: none;
}

/*Удаление маркера у определенного элемента меню*/
.none-marker {
  list-style: none;
}

/*Логотип в шапке сайта*/
.logo-black {
  background-image: url(../images/logo-black.svg);
  width: 129.11px;
  margin-left: 9px;
}
/*Общие параметры background*/
.general-img-parameters {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* Контактная информация*/
.address {
  font-size: 18px;
  text-align: left;
  line-height: 24.3px;
}

.address_header {
  margin-left: 184px;
  margin-top: 5px;
}

/*Контактная информация. Нижнее подчеркивание у номера телефона и почты*/
.underline {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/*Картинка с красками*/
.cover {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-image: url(../images/cover.jpg);
  z-index: 0;
  min-width: 1100px;
  min-height: 757px;
  margin-top: 96px;
  background-repeat: repeat;
  background-size: cover;
}

/*Наложение темного полупрозрачного блока поверх изображений*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/*Заголовок Оно тебе надо*/
.cover__title {
  width: 1000px;
  font-size: 100px;
  color: white;
  z-index: 2;
  margin: 165px 57px 135px 50px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  position: relative;
  top: -2px;
  left: 2px;
}
.heading-general-style {
  position: relative;
  display: block;
}

.aligned-text_center {
  text-align: center;
  top: 7px;
  left: 3px;
}

.aligned-text_right {
  text-align: right;
  left: 33px;
  top: 9px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

/*Контейнер для подзаголовка и кнопки*/
.cover__description {
  margin-bottom: 51px;
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Подзаголовок второго уровня*/
.cover__description-text {
  color: white;
  text-transform: uppercase;
  z-index: 3;
  font-size: 22px;
  font-weight: 100;
  margin-left: 78px;
  word-spacing: 18px;
}

/*Кнопка "Сделать ставку"*/
.bet-button {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 100;
  min-width: 256px;
  min-height: 51px;
  border: 1px solid white;
  color: white;
  padding: 12px 32px 11px 31px;
  margin-right: 50px;
  font-family: Raleway, sans-serif;
}

/*Контейнер "лоты"*/
.lots {
  display: flex;
  flex-direction: column;
  width: 1052px;
  margin-top: 179px;
  margin-left: 24px;
  margin-right: 24px;
}

/*Подзаголовок третьего уровня "Лоты"*/
.lots__heading {
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  margin-left: 40px;
}

/*Контейнер для карточек*/
.cards__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Общие стили для карт*/
.card-link {
  height: 100%;
  margin-top: 27px;
}

.card {
  position: relative;
  width: 334px;
  min-height: 563px;
  z-index: 0;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Добавление фонового изображения для карточек*/
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/*Подзаголовки четвертого уровня в карточках*/
.card__title {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin-top: 51px;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: underline;
  z-index: 5;
}

/*Основной текст в карточках*/
.card__text {
  font-size: 20px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 48px;
  z-index: 5;
  display: flex;
  align-items: flex-end;
}

/*Ссылочка "Посмотреть больше"*/
.lots__look-more-link {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 40px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/*Секция "Об аукционе"*/
.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 24px;
  margin-right: 24px;
  width: 1052px;
  margin-top: 146px;
  z-index: 5;
}

/*Черный кружок, фон логотипа*/
.about__logo {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: black;
  border-radius: 50%;
  height: 240px;
  min-width: 240px;
  margin-left: 47px;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Изображение логотипа*/
.about__logo-image {
  background-image: url(../images/logo-white.svg);
  height: 114px;
  width: 148px;
}

/*Секция грида (размер двух карточек из секции "лоты")*/
.grid__about {
  margin-left: 62px;
}

/*Заголовок третьего уровня "Об аукционе"*/
.about__title {
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  margin-left: 9px;
  margin-top: 136px;
}

/*Основной текст раздела ""Об аукционе*/
.about__paragraph {
  font-size: 20px;
  color: black;
  margin-left: 9px;
  margin-top: 24px;
  width: 693px;
}

.about__paragraph:first-of-type {
  margin-top: 100px;
  margin-right: 5px;
  width: 688px;
}

/*Подвал странички*/
.footer {
  position: relative;
  width: 1000px;
  margin-top: 180px;
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/*Меню*/
.footer__menu {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

/*Неупорядоченный список меню*/
.footer__menu ul {
  list-style: none;
  text-align: center;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  min-width: 240px;
}

/*Размер изображения соц сети*/
.icon-size {
  width: 48px;
}
